APP_PORT=:1001
API_KEY=YOUR_SECRET_API_KEY_HERE
DATABASE_DSN=postgres://boedepos:boedepos@localhost:3302/boedepos?sslmode=disable
DB_PROVIDER=postgres
LOCALE=Asia/Jakarta
POSTGRES_USER=boedepos
POSTGRES_PASSWORD=YOUR_DB_PASSWORD_HERE
POSTGRES_DB=boedepos
